block vars


mixin markdown(text)
    | !{ G.md(text) }


doctype html
html(lang='et')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(property='og:url', content='https://selts.kunda.ee/' + page.path + '/')
        meta(property='og:title', content=(title || page.title) ? (title || page.title) + ' · ' + G.title : G.title)
        meta(property='og:image', content=(image || page.image))
        meta(property='og:description', content=description)

        title= (title || page.title) ? (title || page.title) + ' · ' + G.title : G.title

        link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Teko:700', rel='stylesheet', type='text/css')
        link(href='/assets/css/bootstrap.min.css', rel='stylesheet', type='text/css')
        link(href='/assets/css/jquery.fullPage.min.css', rel='stylesheet', type='text/css')
        link(href='/style.css', rel='stylesheet', type='text/css')

        script(type='application/javascript').
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-260765-31', 'auto');
            ga('send', 'pageview');

    body(style=(image || page.image) ? "background-image:url('" + (image || page.image) + "')" : '')
        #fullpage
            .section
                .container
                    .row
                        #header.text-center
                            a(href='/') Kunda Hariduse Toetusselts

                    if !D.hideContent
                        #content.col-xs-12.col-sm-10.col-sm-offset-1
                            .text-center
                                ul#navigation.list-unstyled.list-inline
                                    each m, idx in G.menu
                                        li
                                            a(href='/' + idx + '/', class= page.path === idx ? 'active' : '')= m

                            block content

                    else
                        .col-xs-12.col-sm-10.col-sm-offset-1
                            .text-center
                                ul#frontpage-navigation.list-unstyled.list-inline
                                    each m, idx in G.menu
                                        li
                                            a(href='/' + idx + '/')= m

            .section
            block images

        script(src='/assets/js/jquery-3.2.1.min.js', type='application/javascript')
        script(src='/assets/js/scrolloverflow.min.js', type='application/javascript')
        script(src='/assets/js/jquery.fullPage.min.js', type='application/javascript')
        script(src='/script.js', type='application/javascript')

        block script
